DATABASE_URL="postgresql://neondb_owner:npg_dFmbao0W2jhU@ep-lucky-water-ayg8u83h-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_SECRET="mufy_secret_key_123456"
NEXTAUTH_URL="https://open-character-ai.vercel.app"
